body{
    margin: 0;
    padding: 0;
}

.top{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left{
    margin-left: 15%;
    width: 100%;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
}

.name-logo{
    width: 13%;
}

.right{
    margin-right: 10%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.right a{
    margin: 10px;
}

.social{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding-bottom: 1%;
}

ul{
    position: relative;
    display: flex;
}

li{
    position: relative;
    list-style: none;
}

.fab1{
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 50%;
    color: #fff;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.fab1:hover{
    transform: translateY(-20px);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.1);
}

.fab2{
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 50%;
    color: #fff;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.fab2:hover{
    transform: translateY(-20px);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.1);
}

.fab3{
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 50%;
    color: #fff;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.fab3:hover{
    transform: translateY(-20px);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.1);
}

.fab1:hover{
    color: #1877f2;
}

.fab2:hover{
    color: #c32aa3;
}

.fab3:hover{
    color: #1da1f2;
}

.fab1::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.fab2::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.fab3::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.fab{
    position: relative;
    z-index: 1;
}

li:nth-child(1) a::before{
    background: #1877f2;
}

.fab1:hover{
    background: #1877f2;
}

li:nth-child(1):hover a::before{
    background: #fff;
}

li:nth-child(2) a::before{
    background: #c32aa3;
}

.fab2:hover{
    background: #c32aa3;
}

li:nth-child(2):hover a::before{
    background: #fff;
}

li:nth-child(3) a::before{
    background: #1da1f2;
}

.fab3:hover{
    background: #1da1f2;
}

li:nth-child(3):hover a::before{
    background: #fff;
}

.about{
    background: #dff0fa;
}

.about-title{
    margin-top: 0.5%;
    font-size: 50px;
    color: black;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Cairo', sans-serif;
}

.about-title::after{
    content: '';
    height: 4px;
    width: 50%;
    background: #1877f2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
}

.about-position{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-bottom: 50px;
}

.about-l{
    width: 50%;
    padding-left: 10%;
}

.about-logo{
    width: 200px;
}

.about-r{
    padding-right: 10%;
    width: 50%;
}

.about-text{
    font-size: 25px;
    margin-top: 30px;
    line-height: 1.5;
    font-weight: bold;
    width: 100%;
}

.sli{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding-bottom: 5%;
    margin-top: 3%;
}

.slider{
    width: 800px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide img{
    width: 250px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;
    margin-top: 284px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }